<div class="builder-window">
  <h1>{{characterName}} <button onClick="fromUuid('{{characterUuid}}').then(c => c.sheet.render(true))">Open</button>
  </h1>
  <div class="steps">
    {{#each steps}}
    <section class="{{stepName}}" data-step="{{stepName}}">
      <h2>
        {{#if result.completed}}
        <i class="far fa-check-circle"></i>
        {{else}}
        <i class="far fa-circle"></i>
        {{/if}}
        {{localize locName}}
        {{#if result.details}}({{result.details}}){{/if}}
      </h2>
      {{#if description}}<p>{{{localize description}}}</p>{{/if}}
      {{#if template}}<div>{{> (lookup . 'template') templateData}}</div>{{/if}}
    </section>
    {{/each}}
  </div>
</div>