#character-builder {
  min-width: 300px;
}

.ability-scores input {
  width: 3em;
}

.ability-scores td {
  text-align: center;
}

#character-builder * {
  user-select: auto;
}

#character-builder .builder-window > h1 > button {
  width: auto;
  vertical-align: top;
}
