<form>
  <div>
    <label for="scoreMethod">Method</label>
    <select name="scoreMethod" id="scoreMethod" value="manual">
      <option value="manual">Manual</option>
      <option value="manual">Standard Array</option>
      <option value="manual">Point Buy</option>
    </select>
    <a class="inline-roll roll" data-mode="roll" data-flavor="Ability score - 4d6, drop lowest" data-formula="4d6dl1">
      <i class="fas fa-dice-d20"></i> Roll 4d6, drop lowest
    </a>
  </div>
  <p><em>These scores are not saved unless you click apply</em></p>
  <table class="ability-scores">
    <thead>
      <tr class="attributetop">
        <th>Attribute
        </th>
        <th>Base Score</th>
        <th></th>
        <th>Racial Bonus</th>
        <th></th>
        <th>Total Score</th>
        <th>Ability Modifier</th>
      </tr>
    </thead>
    <tbody>
      {{#each abilities}}
      <tr data-attribute="{{@key}}">
        <td>{{this}}</td>
        <td>
          <input type="number" name="attr_{{@key}}" value="10" min="1" max="18" step="1">
        </td>
        <td>+</td>
        <td>
          <input type="number" name="racial_{{@key}}" value="0" min="-5" max="5" step="1">
        </td>
        <td>=</td>
        <td class="total">10</td>
        <td class="modifier">+0</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <button>Apply scores</button>
</form>